/* **********************************FOR 1350PX query ******************************************* */
@media (max-width: 1447px) {
  .container {
    max-width: 62rem;
    padding: 0 2rem;
  }

  .grid {
    gap: 2rem;
  }
  .sec-one {
    padding-top: 10rem;
  }

  .secServices .grid {
    row-gap: 3rem;
    column-gap: 2rem;
  }
}


/* **********************************FOR 975PX query ******************************************* */

@media (max-width: 1250px) {
  nav {
    right: 130px;
  }
  .container {
    max-width: 55rem;
  }

  .nav-lists {
    gap: 0;
  }

  .section {
    padding: 6rem 0;
  }

  .sec-one {
    padding-top: 12rem;
  }
}



/* ********************************************************* */
@media (max-width: 1150px) {
  nav {
    right: 140px;
  }

  .container {
    max-width: 50rem;
  }


  /* .section {
    padding: 6rem 0;
  } */

  .sec-one {
    /* padding-top: 12rem; */
  }
}

/* **********************************menu meida ******************************************* */
@media (max-width: 1050px) {
  .logo {
    font-size: 20px;
    margin: 0;
    /* padding: 0 2rem; */
  }

  .section {
    padding: 4rem;
  }

  .para{
    padding: 0 6rem;
  }

  .Mname {
    /* line-height: 2.2rem;   */
    font-size: 3.5rem;
  }

  .menu-bar-btn {
    display: block;
    color: var(--black);
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    z-index: 9999;
  }

  .navBar {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 120px;
    background: var(--gradient);
    backdrop-filter: blur(10rem);
    /* filter: blur(50rem); */

    transform: translateX(100%);
    transition: all 0.5s linear;
    z-index: 1111;

    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  .nav-lists {
    flex-direction: column;
    /* align-items: center; */
    margin-top: 5rem;
    line-height: 3rem;
    /* backdrop-filter: blur(50rem); */
  }

  .nav-lists li a {
    font-size: 1.5rem;
    color: var(--black);
  }

  .activeHead .navBar {
    transform: translateX(0%);
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }

  .activeHead #menu-btn {
    display: none;
  }

  .activeHead #cross-btn {
    display: block;
  }

  .modes {
    position: absolute;
    right: 140px;
  }

  .grid-3-Columns {
    grid-template-columns: repeat(2, 1fr);
  }

  .secServices .grid {
    row-gap: 2rem;
  }

  #sec-one {
    padding-top: 6rem;
  }

  .sec-one .secondColumn {
    grid-row: 1;
    margin-bottom: 2rem;
  }

  .sec-one .grid-Columns {
    grid-template-columns: 1fr;
  }

  .firstColumn {
    align-items: center;
  }

  .firstColumn p {
    text-align: center;
    max-width: 40rem;
  }

  .service-card:hover {
    transform: translateY(-1rem);
  }

  nav a:hover::after {
    width: 0%;
  }

  /* .skillSection .grid-3-Columns {
    grid-template-columns: repeat(3, 1fr);
  } */

  .aboutSection .grid-Columns {
    grid-template-columns: 1fr;
  }

  .aboutSection .About-img1 {
    display: flex;
    justify-content: center;
  }

  .aboutSection .About-text {
    text-align: center;
  }

  /* .mySkills .skill {
    width: 60%;
  } */

  /* .skillSection .mySkills h2 {
    margin: 2rem 0;
  } */

  .skills-grid {
    row-gap: 2rem;
    width: 100%;
  }

  .projectSection h1,
  .secServices h1,
  .sec-contact h1 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .social-list li:hover {
    transform: scale(0);
    transition: none;
  }

  .socialList li:hover {
    transform: scale(0);
    transition: none;
  }

  .sec-contact .grid-Columns {
    grid-template-columns: 1fr;
  }

  /* .sec-contact .contact1 {
    background-color: red;   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 4rem;
  } */

  .service-card:hover {
    transform: translateY(0);
    box-shadow: var(--cardShadow);
  }
  
  
  .container:hover .service-card:not(:hover){
    opacity: 1;
  }
}
/* **********************************menu meida ******************************************* */

/* *************************************** 780PX *********************************************/

@media (max-width: 715px) {
  .Mname{
    font-size: 2.5rem;
  }

  .para{
    /* margin: 0 auto; */
    padding: 0 2rem;
    /* text-align: justify; */
  }
}
 

/* ************************************** */

@media (max-width: 607px) {
  .section {
    padding: 3rem 2rem;
  }

  header {
    padding: 1rem;
    height: 52px;
  }
  

  .Mname{
    font-size: 2.8rem;
  }

  .para{
    padding: 0 0.8rem;
  }

  .section {
    padding: 3rem 0.2rem;
  }

  .section .grid-3-Columns {
    grid-template-columns: 1fr;
  }

  /* .section-contact-container {
    margin: 0 2rem;
  } */

  .sfirstRowection-contact-container {
    display: flex;
    flex-direction: column;
  }

  .sfirstRowection-contact-container input {
    width: 80%;
    display: block;
  }

  .section-contact-container .grid-Columns {
    grid-template-columns: 1fr;
  }

  

  .skills-grid .rightShift {
    text-align: center;
  }

  .modes {
    right: 70px;
  }

  .social-media{
    margin: 1rem;
  }

  .para{
    margin: 0.5rem;
    text-align: left;
  }
}

/* @media (max-width: 606px) {
  .skillSection .grid-3-Columns {
    grid-template-columns: repeat(3, 1fr);
  }

  .skillSection .skill {
    padding: 0;
  }

  .skillSection .skill {
    width: 100%;
  }
} */

@media (max-width: 490px) {

  .this{
    font-size: 1.5rem;
  }

  .Mname{
    font-size: 2.3rem;
  }
  .mainFoot p {
    text-align: center;
  }
}

@media screen and (max-width: 395px) {
  .this{
    font-size: 1.2rem;
  }

  .Mname{
    font-size: 2rem;
  }
}



@media (max-width: 387px) {

  .social-media{
    margin: 1rem;
  }

  .para{
    margin: 0;
  }

  .this{
    font-size:0.8rem ;
  }
  .Mname{
    font-size: 1.5rem;
  }
  .skills-grid {
    grid-template-columns: 1fr;
    row-gap: 0.8rem;
  }
}

@media (max-width: 340px) {
  .Mname {
    font-size: large;
  }

  /* .skillSection .grid-3-Columns {
    grid-template-columns: repeat(2, 1fr);
  } */
}

@media (max-width: 268px) {
  .mainFoot h1 {
    text-align: center;
  }
}
