* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Nunito", sans-serif;

}


/* SCROLL START */

.to-top {
  height: 40px;
  width: 40px;
  background-color: var(--activeColor);
  position: fixed;
  bottom: 16px;
  right: 16px;
  font-size: 30px;
  /* border-radius: 50%; */
  /* background: transparent; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  pointer-events: none;
  opacity: 0;
  transition: all 0.5s;
}

.to-top.preview {
  opacity: 0.6;
  bottom: 32px;
  pointer-events: all;
  color: var(--btn-color);
  z-index: 11;
  border-radius: 30% 70%  70% 30%  / 30% 57% 43% 70%;
  transform: 0.2s linear;
  animation: flow 3s linear  infinite;
  border: 2px solid var(--btn-color);
  background-color: var(--oddbg);
}


@keyframes flow {
  0%{
    border-radius: 30% 70%  70% 30%  / 30% 57% 43% 70%;
  }

  50%{
    border-radius: 13% 8%  14% 30%  / 0% 7% 53% 70%;
  }
  100%{
    border-radius: 30% 70%  70% 30%  / 30% 57% 43% 70%;
  }
  
}


/* SCROLL END */


/* for head */
.headAdd{
/* background: var(--bg); */
/* box-shadow: rgba(10, 10, 1, 0.2) 0px 1px 8px 0px;  */
background: transparent;
backdrop-filter: blur(20px);
}


